@import "custom_bootstrap_vars";
@import "bootstrap";

a {
  transition: all .3s ease-in-out;
}

.navbar {
  top: 0px;
  box-shadow: 0 0 16px 0 rgba(32, 32, 47, 0.16);
  transition: top .7s ease-in-out;
  background-color: #fff !important;

  &.hidden {
    top: -64px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('../images/hero-bg.jpg') no-repeat;
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
  }
}

.hero-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero-title {
  font-family: $base-font-family;
  text-transform: uppercase;
  margin: 4rem 0 2rem;
}

.event-date {
  margin: 1.5rem 0;
  padding: .8rem 2rem;
  background-color: #fff;
  color: $primary;
}

.event-name {
  margin: 1.5rem 0;
  font-size: 1.5rem;

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
}

.event-counter-wrapper {
  margin-top: 3rem;
  padding: 2rem;
  max-width: 100%;
  background-color: #fff;
  color: #555;
}

.event-counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.time-value {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;

  .value {
    font-size: 1.5rem;
    color: #000;
  }
}

.section {
  padding: 4rem 0;

  h2 {
    margin-bottom: 3rem;
  }
}

.speaker-card {
  box-shadow: 0 0 16px 0 rgba(32, 32, 47, .16);
  border: none;

  h3 {
    margin-bottom: 1rem;
  }

  p {
    font-style: italic;
    color: #555;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
}

.social-nav {
  margin-top: auto;
}

.social-link {
  margin-right: .5rem;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.timeline {
  position: relative;

  h3 {
    font-size: 1.2rem;
  }

  .line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #e0dfe6;
  }
}

.timeline-item {
  list-style-type: none;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;

  .card {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: left;
    box-shadow: 0 0 16px 0 rgba(32, 32, 47, .16);
    border: none;

    @include media-breakpoint-up(lg) {
      &:before {
        content: '';
        position: absolute;
        bottom: 5px;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }

    @include media-breakpoint-up(lg) {
      width: 400px;
    }
  }

  &:nth-child(odd) {
    .card {
      @include media-breakpoint-up(lg) {
        left: 50px;

        &:before {
          left: -16px;
          border-width: 8px 16px 8px 0;
          border-color: transparent #fff transparent transparent;
        }
      }
    }
  }

  &:nth-child(even) {
    .card {
      @include media-breakpoint-up(lg) {
        left: -450px;

        &:before {
          right: -15px;
          border-width: 8px 0 8px 16px;
          border-color: transparent transparent transparent #fff;
        }
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: inherit;
  }

  @include media-breakpoint-up(lg) {
    width: 2px;
    background: #e0dfe6;
  }
}

.time {
  color: $primary;
  margin-bottom: 0;
}

.venue {
  background: url('../images/venue-bg.jpg') no-repeat;
}
