{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block hero %}
  <div class="hero">
    <div class="container">
      <div class="hero-content">
        <h2 class="hero-title">DevOfFuture</h2>
        <div class="event-date">
          <span>09 March 2019 @ 8 AM | Dschang, West, Cameroon</span>
        </div>
        <h3 class="event-name">DevOfFuture Conference 2019</h3>
        <p class="event-description">An opportunity to move ideas forward, and learn from each other along the way.</p>
        <div class="event-counter-wrapper">
          <h4 class="text-muted mb-5">Event starts in</h4>
          <div class="event-counter">
            <div class="time-value">
              <span class="value days">00</span>
              <span class="label">Days</span>
            </div>
            <div class="time-value">
              <span class="value hours">00</span>
              <span class="label">Hours</span>
            </div>
            <div class="time-value">
              <span class="value minutes">00</span>
              <span class="label">Minutes</span>
            </div>
            <div class="time-value">
              <span class="value seconds">00</span>
              <span class="label">Seconds</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock hero %}

{% block content %}
  <section class="section" id="speakers">
    <header class="text-center d-flex flex-column align-items-center">
      <i class="fas fa-microphone-alt fa-3x text-primary mb-2"></i>
      <h2>Speakers</h2>
    </header>
    <div class="container">
      <div class="row">
        {% for speaker in speakers %}
          <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
            <div class="card speaker-card">
              {% if speaker.photo %}
                <img src="{{ speaker.photo.url }}" class="card-img-top" alt="">
              {% else %}
                <img src="{% static 'images/default-avatar.png' %}" class="card-img-top" alt="" width="255" height="255">
              {% endif %}
              <div class="card-body">
                <h3>{{ speaker.name }}</h3>
                <p>{{ speaker.about|truncatechars:100 }}</p>
                <div class="social-nav">
                  {% if speaker.github %}
                    <a href="{{ speaker.github }}" class="social-link" target="_blank" rel="noopener">
                      <i class="fab fa-github"></i>
                    </a>
                  {% endif %}
                  {% if speaker.facebook %}
                    <a href="{{ speaker.facebook }}" class="social-link" target="_blank" rel="noopener">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  {% endif %}
                  {% if speaker.twitter %}
                    <a href="{{ speaker.twitter }}" class="social-link" target="_blank" rel="noopener">
                      <i class="fab fa-twitter"></i>
                    </a>
                  {% endif %}
                  {% if speaker.linkedin %}
                    <a href="{{ speaker.linkedin }}" class="social-link" target="_blank" rel="noopener">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% empty %}
          {% for item in "x"|ljust:"4" %}
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex mb-4">
              <div class="card speaker-card">
                <img src="{% static 'images/default-avatar.png' %}" class="card-img-top" alt="">
                <div class="card-body">
                  <h3>Speaker {{ forloop.counter }}</h3>
                  <p>Quia provident quasi, temporibus commodi maxime voluptatem minima aut laudantium.</p>
                  <div class="social-nav">
                    <a href="#" class="social-link">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-link">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-link">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
        <div class="my-5 text-center w-100">
          <p class="lead w-75 mx-auto">Have something to share? We can save you a time frame to speak at the conference. Kindly fill this form and we'll get back to you as soon as possible.</p>
          <a href="https://docs.google.com/forms/d/1_4d-elUScJU8JSh8MfIwhWV4wTwymyH5jQHlHfzlZSc/viewform?edit_requested=true" class="btn btn-lg btn-dark rounded-0" target="_blank" rel="noopener">Become a speaker</a>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="section" id="schedule">
    <header class="text-center d-flex flex-column align-items-center">
      <i class="far fa-clock fa-3x text-primary mb-2"></i>
      <h2>Schedule</h2>
    </header>
    <div class="container timeline">
      {% for item in schedule %}
        <div class="timeline-item">
          <div class="card">
            <div class="media">
              {% if item.speaker and item.speaker.photo %}
                <img src="{{ item.speaker.photo.url }}" class="mr-3" alt="{{ speaker.name }}" width="75">
              {% else %}
                <img src="{% static 'images/default-avatar.png' %}" class="mr-3" alt="" width="75">
              {% endif %}
              <div class="media-body">
                <h3>{{ item.title }}</h3>
                <p class="time">
                  <time>{{ item.datetime }}</time>
                </p>
                <p>{{ item.about|truncatechars:100 }}</p>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        {% for item in "x"|ljust:"4" %}
          <div class="timeline-item">
            <div class="card">
              <div class="media">
                <img src="{% static 'images/default-avatar.png' %}" class="mr-3" alt="" width="75">
                <div class="media-body">
                  <h3>Talk {{ forloop.counter }}</h3>
                  <p class="time">
                    <time>{% now 'M, d Y @ h:i' %}</time>
                  </p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, inventore! Illum, modi itaque ratione ea, temporibus dolorem culpa, necessitatibus reprehenderit maiores sit nobis.</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </section>
  <section class="section venue" id="venue">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-2">
          <div class="card">
            <div class="card-body">
              <header class="text-center d-flex flex-column align-items-center">
                <i class="fas fa-map-marker-alt fa-3x text-primary mb-2"></i>
                <h2>Venue</h2>
              </header>
              <div class="text-center mb-3 text-muted">
                <p>Nouvic Corporation<br>Immeuble Élégance Pressing<br>560034
                </p>
              </div>
              <div class="text-center text-muted">
                <p>Tel. 1234567890<br>Email us at. info@nouvic.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <header class="text-center d-flex flex-column align-items-center">
        <i class="far fa-star fa-3x text-primary mb-2"></i>
        <h2>Our Sponsors</h2>
      </header>
      <div class="row">
        <a href="http://nouviconline.com" target="_blank" rel="noopener" class="col-md-4 offset-2">
          <img src="{% static 'images/nouvic.png' %}" alt="Nouvic Corporation" class="w-100">
        </a>
        <a href="https://weloobe.com/" target="_blank" rel="noopener" class="col-md-4">
          <img src="{% static 'images/weloobe.jpeg' %}" alt="Weloobe" class="w-100">
        </a>
      </div>
    </div>
  </section>
  <section class="section bg-light" id="reservations">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-6 d-flex flex-column card">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.8382271837336!2d10.05169381476539!3d5.441520496053659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNcKwMjYnMjkuNSJOIDEwwrAwMycxNC4wIkU!5e0!3m2!1sen!2scm!4v1550432829492" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 d-flex flex-column bg-white card">
          <div class="card-body">
            <header class="text-center d-flex flex-column align-items-center">
              <i class="fas fa-bookmark fa-3x mb-2"></i>
              <h2 class="mb-3">Reservations</h2>
              <p class="lead">Limited seating available. Hurry & save your spot now.</p>
            </header>
            {% crispy reservation_form %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
